@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/Vazirmatn-font-face.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* فونت وزیری برای متن بدنه */


body {
  font-family: 'Vazirmatn', sans-serif;
}

/* متن بدنه کمی کوچکتر از حالت عادی */
.prose {
  font-size: 0.90rem; /* کمی کوچکتر */
  line-height: 1.7;   /* فاصله بین خطوط مناسب */
}